<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Wifi</title>
    <link rel="stylesheet" href="static/main.css">
    <script src="static/qrcode.min.js"></script>   

    <!-- Favicon Stuff -->
    <link rel="apple-touch-icon" sizes="57x57" href="/static/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="msapplication-TileColor" content="#66a6ff">
    <meta name="msapplication-TileImage" content="/static/ms-icon-144x144.png">
    <meta name="theme-color" content="#66a6ff">

    <!-- Open as a fullscreen app iOS add to home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes" />
</head>
<body>
    <div class="page">
        <main>
            <div id="creds">
                <h1>Guest Wifi</h1>
                <p>
                    <strong>SSID:</strong> {{ ssid }}
                </p>
                
                <p>
                    <strong>PWD:</strong> {{ passwd }}
                </p>
            </div>
            
            <div id="qr">
                <div id="qrcode"></div>
                <script type="text/javascript">
                    const qr_data = `WIFI:S:{{ ssid }};T:WPA;P:{{ passwd }};;`
                    new QRCode(document.getElementById("qrcode"), qr_data);
                </script>
            </div>
        </main>
        
        {% if regen_passwd_enabled %}
            <div>
                <form action="/new" method="POST">
                    <button type="submit">Regenerate Password</button>
                </form>
            </div>
        {% endif %}
    </div>
</body>
</html>